{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
  <div id="head">
    <h2>{{ request.user.email }}</h2>
    
    <button class="btn" id="inbox">Inbox</button>
    <button class="btn" id="compose">Compose</button>
    <button class="btn" id="sent">Sent</button>
    <button class="btn" id="archived">Archived</button>

    <a class="btn" href="{% url 'logout' %}">Log Out</a> 
    <hr>
    </div>

    <div class="container">
    <div id="emails-view">
    </div>
    <div id="view-email">
        <div id="buttons">
        </div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn">
        </form>
    </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}